<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ Page.Title }}</title>
  <link rel="stylesheet" href="/static/css/theme.css">
  <link rel="stylesheet" href="/static/css/syntax.css">
</head>
<body>
  <h1>{{ Page.Title }}</h1>
  <h2 class="subtitle">{{ Page.Description }}</h2>
  {{{ Page.Content }}}
</body>
</html>
