<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kyle Kestell</title>
  <link rel="stylesheet" href="static/css/theme.css">
</head>
<body>
  {% include 'header.html.j2' %}
  <h1>Kyle Kestell</h1>
  <article id="pages">
    {% for category in categories %}
      <div class="column">
        <h3>{{ category.name|capitalize }}</h3>
        <ul>
        {% for page in category.pages %}
          <li><a href="{{ page.path }}">{{ page.title }}</a></li>
        {% endfor %}
        </ul>
      </div>
    {% endfor %}
  </article>
  {% include 'footer.html.j2' %}
</body>
</html>
