<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>kestell.org {% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/theme.css" />
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header>
        <h1>kestell.org</h1>
        {% block breadcrumbs %}{% endblock %}
    </header>

    {% block content %}{% endblock %}

    <footer>
        {% block footer %}{% endblock %}
    </footer>
</body>
</html>